/* HEADER */

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    margin-bottom: 60px;
    background-color: #FF6900;
    color: white;

}

.logo{
    max-width: 180px;
}




/* MAIN */

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.card{
    width: 32%
}

.image{
    position: relative;
}

.image:hover .img-primary{
    display: none;
}

.img-secondary{
    display: none;
}

.image:hover .img-secondary{
    display: block;
}

.img-text{
    position: absolute;
    bottom: 50px;
    z-index: 2;
}

