/* MAIN */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.card{
    width: 32%
}

.image{
    position: relative;
}

.image:hover .img-primary{
    display: none;
}

.img-primary{
    position: absolute;
    z-index: 1;
}

.img-secondary{
    z-index: 0;
}