/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

i {
	padding: 3px;
	cursor: pointer;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.discount{
	background-color: red;
	color: white;
	padding: 2px 5px;
}

.sostenibilità{
	background-color: green;
	color: white;
	padding: 2px 5px;
}

.heart-container{
	position: absolute;
	right: 0;
	top:25px;
}

.heart{
	color: black;
	background-color: white;
	padding: 10px 15px;
	font-size: 1.8rem;
}

.heart-container:hover .heart{
	color: red;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
	font-weight: 500;
	padding: 5px;
}

