/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.discount{
	background-color: red;
	color: white;
	padding: 2px 5px;
	z-index: 2;
}

.sostenibilità{
	background-color: green;
	color: white;
	padding: 2px 5px;
	z-index: 2;
}

.main-header a{
	text-decoration: none;
	color: white;
	font-weight: 500;
}

.main-header i{
	color: white;
}